language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-padded -Wno-c++98-compat -Wno-missing-prototypes -Wno-float-conversion main.cpp Car.cpp Highway.cpp HighwayPatrol.cpp Motorcycle.cpp SemiTruck.cpp Vehicle.cpp && ./a.out"
hidden = ["ccls"]
modules = ["cpp-clang14", "c-clang14"]

[deployment]
run = ["sh", "-c", "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes main.cpp"]

[nix]
channel = "stable-24_05"
